name: Run Python Files

on:
  push:
    paths:
      - "**/*.py"      # Тек .py файлдары өзгергенде ғана CI жұмыс істейді
  pull_request:
    paths:
      - "**/*.py"

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run Python scripts
        run: |
          for f in $(find . -name "*.py"); do
            echo "Running $f"
            python "$f"
          done
